
.form-item input{
	text-align: left;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
    width: 210px;
 	float: left;
 	outline: none;
}
.login-content{

}
.form-item{
	width: 420px;
	float: left;
	margin-bottom: 15px;
}
.content{
	width: 420px;
    border: solid 1px #c2c2c2;
    margin: auto;
    margin-top: 200px;
    background: white;
    text-align: center;
    padding-bottom: 30px;
}
.content:after{
	content: "";
	display: block;
	clear: both;
}
.form-item label{
	float: left;
    display: block;
    padding: 9px;
    width: 80px;
    font-weight: 400;
    text-align: right;
    width: 120px;
}
 .content h2{
 	color: black;
    font-size: 1.6rem;
    margin: 7% 7%;
 }
 input.form-submit{
	width: 100px;
 	display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;

 }
 input.spe{
 	width: 80px;
 	height: 38px;
 }