*{
	margin: 0 auto;
	text-align: center;
}
#syy-timer-button{
	width: 110px;
	height: 50px;
	background-color: pink;
	border-radius: 5px;
	border: 0px;
	box-shadow: 0;
	color: white;
	font-size: 20px;
}